<div class="container">
  <div class="name" [class.selected]="selected" (click)="changeView()">
    {{ class.name }}
  </div>
  <div *ngIf="selected" class="project-list">
    <div *ngFor="let project of class.projects">
      <app-project-item [project]="project"></app-project-item>
    </div>
    <div id="addProjectButton" class="button" (click)="addProject()">
      Add Project
    </div>
    <div id="removeClassButton" class="button red" (click)="removeClass()">
      Remove Class
    </div>
  </div>
</div>
<div *ngIf="showAddProjectComponent">
  <app-add-project [class]="class" (close)="closeAddProject($event)"></app-add-project>
</div>