<div class="container">
  <div class="header selected">Timer</div>
  <div class="body">
    <div>
      Previous Session: {{ this.timeService.formatTime(previousSession) }}
    </div>
    <div class="currentSession">
      {{ this.timeService.formatTime(currentSession) }}
    </div>
    <div class="container-buttons">
      <div
        class="button-small green-button startStop"
        [class.startStop]="startStop == 'Stop'"
        (click)="changeStartStop()"
      >
        {{ startStop }}
      </div>
      <div
        class="button-small blue-button pauseResume"
        [class.pauseResume]="pauseResume == 'Resume'"
        (click)="changePauseResume()"
      >
        {{ pauseResume }}
      </div>
    </div>
  </div>
</div>
