<div class="container">
  <div class="button" (click)="logoutGithub()">Logout</div>
  <div class="title">Project Tree</div>
  <div class="list">
    <div *ngFor="let class of classes" class="list-item">
      <app-class-item [classItem]="class" (deletedClass)="removeClass($event)"></app-class-item>
    </div>
    <div id="addClassButton" class="button" (click)="showAddClassComponent = true">
      Add Class
    </div>
  </div>
  <div *ngIf="showAddClassComponent">
    <app-add-class (close)="showAddClassComponent = false"></app-add-class>
  </div>
</div>