<div class="container">
  <div class="header" [class.selected]="selected" (click)="changeSelected()">
    Details
  </div>
  <div *ngIf="selected" class="body">
    <div>Description: {{ details.description }}</div>
    <div>
      Total Time Estimated:
      {{
        this.timeService.formatUnderTen(
          this.timeService.calculateHours(details.totalTimeEstimated)
        )
      }}:{{
        this.timeService.formatUnderTen(
          this.timeService.calculateMinutes(details.totalTimeEstimated)
        )
      }}:{{
        this.timeService.formatUnderTen(
          this.timeService.calculateSeconds(details.totalTimeEstimated)
        )
      }}
    </div>
    <div *ngIf="details.totalTimeActual">
      Total Time Actual:
      {{
        this.timeService.formatUnderTen(
          this.timeService.calculateHours(details.totalTimeActual)
        )
      }}:{{
        this.timeService.formatUnderTen(
          this.timeService.calculateMinutes(details.totalTimeActual)
        )
      }}:{{
        this.timeService.formatUnderTen(
          this.timeService.calculateSeconds(details.totalTimeActual)
        )
      }}
    </div>
    <div>Deadline: {{ details.deadline }}</div>
    <div
      id="editProjectDetails"
      class="button"
      (click)="showEditProjectDetailsComponent = true"
    >
      Edit Project Details
    </div>
    <div
      id="removeProjectButton"
      class="button red"
      (click)="removeProject()"
      style="margin-top: 10px"
    >
      Remove Project
    </div>
  </div>
  <div *ngIf="showEditProjectDetailsComponent">
    <app-edit-project-details
      [project]="project"
      [details]="details"
      (close)="showEditProjectDetailsComponent = false"
    ></app-edit-project-details>
  </div>
</div>
