<div class="container">
  <div class="header" [class.selected]="selected" (click)="changeSelected()">
    Details
  </div>
  <div *ngIf="selected" class="body">
    <div>Description: {{ details.description }}</div>
    <div>Total Time Estimated: {{ details.totalTimeEstimated.hours }} hrs {{ details.totalTimeEstimated.minutes }} min</div>
    <div *ngIf="details.totalTimeActual">Total Time Actual: {{ details.totalTimeActual.hours }} hrs {{ details.totalTimeActual.minutes }} min</div>
    <div>Deadline: {{ details.deadline }}</div>
    <div id="editProjectDetails" class="button" (click)="showEditProjectDetailsComponent = true">
      Edit Project Details
    </div>
    <div id="removeProjectButton" class="button red" (click)="removeProject()" style="margin-top: 10px;" >
      Remove Project
    </div>
  </div>
  <div *ngIf="showEditProjectDetailsComponent">
    <app-edit-project-details [project]="project" [details]="details" (close)="showEditProjectDetailsComponent = false"></app-edit-project-details>
  </div>
</div>