<div class="container">
  <div class="header" [class.selected]="selected" (click)="changeSelected()">
    Project Details
  </div>
  <div *ngIf="selected" class="body">
    <div>Description: {{ details.description }}</div>
    <div>Total Time Estimated: {{ details.totalTimeEstimated }}</div>
    <div>Total Time Actual: {{ details.totalTimeActual }}</div>
    <div>Deadline: {{ details.deadline }}</div>
    <div id="editProjectDetails" class="button" (click)="showEditProjectDetailsComponent = true">
      Edit Project Details
    </div>
  </div>
  <div *ngIf="showEditProjectDetailsComponent">
    <app-edit-project-details [class]="class" (close)="showEditProjectDetailsComponent = false"></app-edit-project-details>
  </div>
</div>