.container {
  display: flex;
}

.container-left {
  margin-right: 20%;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.container-right {
  color: white;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.header {
  font-size: 48px;
  color: #fff;
  text-align: center;
  background-color: #303435;
  padding: 20px 75px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.content {
  background-color: #494f51;
  padding: 20px 75px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.button {
  border-radius: 25px;
  color: #c7c7c7;
  background-color: #6e5494;
  font-size: 24px;
  padding: 10px;
  margin: 10px 0px;
  text-align: center;
}

.button:hover {
  background-color: #5a4579;
  color: #fff;
  cursor: pointer;
}

input {
  font-size: 24px;
  padding: 10px;
  border-radius: 38px;
  user-select: none;
}

.blue {
  background-color: var(--blue-button);
}

.green {
  background-color: var(--green-button);
}

.blue:hover {
  background-color: var(--blue-button-hover);
}

.green:hover {
  background-color: var(--green-button-hover);
}

.container-input {
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}
